@model ModelEntity.User
@{
    ViewBag.Title = "Home Page";
}

    @Styles.Render("~/Content/User")


@section scripts{

    @Scripts.Render("~/bundles/User")
}
<h3>page 1</h3>
<hr />


<table class="table table_style">
    <tr style="display:none;">
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            Title<span class="red">*</span>
        </td>
        <td colspan="3">
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control title" })

        </td>
        <td>
            Address
        </td>
        <td colspan="2">
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control address" })
        </td>
    </tr>
    <tr>
        <td>
            Type
        </td>
        <td colspan="6">
            @Html.DropDownListFor(x => x.Type, ViewBag.TypeList as List<SelectListItem>, new { @class = "form-control", id = "userType", datarequired = "true" })
        </td>
    </tr>
    <tr>
        <td>
            Date<span class="red">*</span>
        </td>
        <td>
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control date" })
        </td>
        <td>
            Time<span class="red">*</span>
        </td>
        <td>
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control time" })
        </td>
        <td>
            Remarks
        </td>
        <td>
            @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control remarks" })
        </td>
        <td>
            <button class="btn btn-default" id="saveInfo"> Submit</button>
        </td>
    </tr>
</table>
<span class="itemtooltip notApear">
    Search with title or address.
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square" onclick="CloseTooltip()" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
    </svg>
</span>
<div class="input-group mb-3">

    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle show-tt" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
    </svg>
    <input type="text" class="form-control Search" />


</div>
<div id="GridView">

</div>
<button class="btn btn-default" id="saveList"> Submit</button>